<% content_for :head do %>
	<!-- Script for adding typewirter effect  - Customization at: https://github.com/mattboldt/typed.js/#customization -->
	<script>
	    $(function(){
	        $(".typed").typed({
	            stringsElement: $('#typed-strings'),
	            typeSpeed: 200,
	            loop: true,
	            backDelay: 4000
	        });
	    });
	</script>
<% end %>

<!-- For SEO Purposes -->
<div id="typed-strings">
    <p>^500 Mohamed Shibl.</p>
    <p>^500 a Web Developer.</p>
    <p>^500 a Front-End Developer.</p>
    <p>^500 a Back-End Developer.</p>
    <p>^500 a Full Stack Developer.</p>
    <p>^500 Mohamed Shibl.</p>
</div>

<hr>
<div id="typewriter-header">
	<span>I'm&nbsp;</span> <span class="typed"> </span>
</div>
<hr>
<div class="skills">
	<%= cl_image_tag("ruby_rough_rdzr8l.png", title:"Ruby") %>&nbsp
	<%= cl_image_tag("ror_euctue.png", title:"Ruby on Rails") %>&nbsp
	<%= cl_image_tag("postgresql_hf89ob.png", title:"PostgreSQL") %>&nbsp
	<%= cl_image_tag("javascript_1_s61poh.png", title:"JavaScript") %>&nbsp
	<%= cl_image_tag("jquery_logo_dbcmmu.png", title:"JQuery") %>&nbsp
	<%= cl_image_tag("angular_simple_th3oqk.png", title:"Angular") %>&nbsp
	<%= cl_image_tag("react_y8kar9.png", title:"React JS") %>&nbsp
	<%= cl_image_tag("redux_rmoqtx.png", title:"React Redux Framework") %>&nbsp
	<%= cl_image_tag("meteor_xjnvbh.png", title:"Meteor JS") %>&nbsp
	<%= cl_image_tag("nodejs_small_smhqui.png", title:"NodeJS") %>&nbsp
	<%= cl_image_tag("heroku_m7uapi.png", title:"Heroku") %>&nbsp
	<%= cl_image_tag("webpack-blue-150x150_bcvq91.png", :effect=>"negate", :width=>32, :crop=>"scale") %>&nbsp
	<%= cl_image_tag("gulp_lvgesm.png", title:"Gulp") %>&nbsp
	<%= cl_image_tag("html5_lh9nsu.png", title:"HTML5") %>&nbsp
	<%= cl_image_tag("css3_tqxayw.png", title:"CSS3") %>&nbsp
	<%= cl_image_tag("sass_aferby.png", title:"SASS") %>&nbsp
	<%= cl_image_tag("bootstrap_ysnw2r.png", title:"BootStrap") %>&nbsp
	<%= cl_image_tag("chrome_bjeew8.png", title:"Chrome Platform APIs") %>&nbsp
	<%= cl_image_tag("google_analytics_nlk1zp.png", title:"Google Analytics Certified") %>&nbsp
</div>
<div class="projects">
	<%= cl_image_tag("Friend_Trends_iwukue.png", :height=>250, :width=>250, :crop=>"fill") %>
	<%= cl_image_tag("Look_jeflte.png", :height=>250, :width=>250, :crop=>"fill") %>
	<%= cl_image_tag("ted_talks_gekdwm.png", :height=>250, :width=>250, :crop=>"fill") %>
	<%= cl_image_tag("Time_Box_eqpulv.png", :gravity=>"west", :height=>250, :width=>250, :crop=>"fill") %>
	<%= cl_image_tag("npm exif stripper.png", :height=>250, :width=>250, :crop=>"scale") %>
	<%= cl_image_tag("SocialSpace_kmrk0f.png", :height=>250, :width=>250, :crop=>"fill") %>
</div>




