<% content_for :head do %>
	<!-- Script for adding typewirter effect  - Customization at: https://github.com/mattboldt/typed.js/#customization -->
	<script>
	    $(function(){
	        $(".typed").typed({
	            stringsElement: $('#typed-strings'),
	            typeSpeed: 200,
	            loop: true,
	            backDelay: 4000
	        });
	    });
	</script>
<% end %>

<div id="typed-strings">
	<!-- For SEO Purposes -->
    <p>^500 Mohamed Shibl.</p>
    <p>^500 a Web Developer.</p>
    <p>^500 a Front-End Developer.</p>
    <p>^500 a Back-End Developer.</p>
    <p>^500 a Full Stack Developer.</p>
    <p>^500 Mohamed Shibl.</p>
</div>

<hr class="tw-hr">
<div id="typewriter-header">
	<span>I'm&nbsp;</span> <span class="typed"> </span>
</div>
<hr class="tw-hr">

<div class="skills">
	<%= cl_image_tag("ruby_rough_rdzr8l.png", title:"Ruby") %>&nbsp
	<%= cl_image_tag("ror_euctue.png", title:"Ruby on Rails") %>&nbsp
	<%= cl_image_tag("postgresql_hf89ob.png", title:"PostgreSQL") %>&nbsp
	<%= cl_image_tag("javascript_1_s61poh.png", title:"JavaScript") %>&nbsp
	<%= cl_image_tag("jquery_logo_dbcmmu.png", title:"JQuery") %>&nbsp
	<%= cl_image_tag("angular_simple_th3oqk.png", title:"Angular") %>&nbsp
	<%= cl_image_tag("react_y8kar9.png", title:"React JS") %>&nbsp
	<%= cl_image_tag("redux_rmoqtx.png", title:"React Redux Framework") %>&nbsp
	<%= cl_image_tag("meteor_xjnvbh.png", title:"Meteor JS") %>&nbsp
	<%= cl_image_tag("nodejs_small_smhqui.png", title:"NodeJS") %>&nbsp
	<%= cl_image_tag("heroku_m7uapi.png", title:"Heroku") %>&nbsp
	<%= cl_image_tag("webpack-blue-150x150_bcvq91.png", :effect=>"negate", :width=>32, :crop=>"scale") %>&nbsp
	<%= cl_image_tag("gulp_lvgesm.png", title:"Gulp") %>&nbsp
	<%= cl_image_tag("html5_lh9nsu.png", title:"HTML5") %>&nbsp
	<%= cl_image_tag("css3_tqxayw.png", title:"CSS3") %>&nbsp
	<%= cl_image_tag("sass_aferby.png", title:"SASS") %>&nbsp
	<%= cl_image_tag("bootstrap_ysnw2r.png", title:"BootStrap") %>&nbsp
	<%= cl_image_tag("chrome_bjeew8.png", title:"Chrome Platform APIs") %>&nbsp
	<%= cl_image_tag("google_analytics_nlk1zp.png", title:"Google Analytics Certified") %>&nbsp
</div>

<div class="projects">
	<%= render "card", 
		project_image: "gitscout.png", 
		title: "GitScout", 
		front_text: "Web App | React | MobX",
		links: {
			"GitScout.herokuapp.com" => "http://gitscout.herokuapp.com/",
			"Github" => "https://github.com/mshibl/GitScout"},
		back_text: "card_back"
	%>

	<%= render "card", 
		project_image: "devstats.png", 
		title: "DevStats", 
		front_text: "Web App | React | Redux",
		links: {
			"allDevStats.herokuapp.com" => "http://alldevstats.herokuapp.com/",
			"Github" => "https://github.com/mshibl/TechStats-Redux-App"},
		back_text: "card_back"
	%>

	<%= render "card", 
		project_image: "lookmain.png", 
		title: "Look App", 
		front_text: "Web App | React | Redux",
		links: {
			"Joinlook.com Sample Profile" => "http://www.joinlook.com/@mohamed-shibl/"},
		back_text: ""	
	%>

	<%= render "card", 
		project_image: "Friend_Trends_iwukue.png", 
		title: "FriendTrends", 
		front_text: "Web App | Ruby on Rails | Redis",
		links: {
			"Friend-Trends.com" => "http://www.friend-trends.com/",
			"Github" => "https://github.com/Sarah-Alsinan/FriendTrends"},
		back_text: "card_back"
	%>

	<%= render "card", 
		project_image: "ted_talks_gekdwm.png", 
		title: "TedTalks Feed", 
		front_text: "Web App | Angular",
		links: {
			"Ted Talks Feed" => "http://enigmatic-mesa-7101.herokuapp.com/",
			"Github" => "https://github.com/mshibl/Ted-Talks-Video-Feed"},
		back_text: ""	
	%>

	<%= render "card", 
		project_image: "Time_Box_eqpulv.png", 
		title: "TimBox App", 
		front_text: "Chrome Extension | JQuery",
		links: {
			"Time Box Chrome Extension" => "https://chrome.google.com/webstore/detail/time-box/lgidaailgjokhfjedfklbjhhimnngcjg",
			"Github" => "https://github.com/mshibl/Time-Box-Chrome-Extension"},
		back_text: ""	
	%>

	<%= render "card", 
		project_image: "npm_exif_stripper.png", 
		title: "EXIF Stripper", 
		front_text: "NPM Package | ES6",
		links: {
			"EXIF Stripper (npm)" => "https://www.npmjs.com/package/exif-stripper",
			"Github" => "https://github.com/mshibl/Exif-Stripper"},
		back_text: ""	
	%>

	<%= render "card", 
		project_image: "SocialSpace_kmrk0f.png", 
		title: "SocialSpace", 
		front_text: "Web App | Angular | Sinatra",
		links: {
			"SocialSpace" => "https://desolate-reaches-44557.herokuapp.com/#/",
			"Github" => "https://github.com/mshibl/shift-twitter-code-challenge"},
		back_text: ""	
	%>

</div>




